body {
  font-family: Arial, sans-serif;
}

.user-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: bold;
}

/* Create a flex container for user data cards */
.user-list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.user-card {
  background-color: blue;
  color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bold {
  font-weight: bold;
}
